/* GENERAL STYLING */

html, body {
  background-color: black;

  margin: 0;
  padding: 0;

  width: 100%;
}

* {
  box-sizing: border-box;
}

/* HEADER STYLES */
.header {
  width: 100%;
  height: 100px;

  padding: 30px 10px;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 3;

  background-color: black;
}

.header_link {
  font-size: 20px;
  padding: 5px 10px;

  background: transparent;
  color: white;

  border: none;

  text-decoration: none;
  display: block;

  cursor: pointer;

  transition: color 200ms linear;

  font-family: Sanchez;

  outline: none;
}

.header_link:hover {
  color: #F47610;
}

.header_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  float: right;
}

.header_nav > li {
  float: left;
}

.header_link.active {
  border-bottom: 2px solid #F47610;
}

.header_image {
  display: inline;
  cursor: pointer;
}

.header_image > img {
  position: absolute;

  width: 60px;
  height: 60px;

  left: 30px;
  top: 20px;
}


/* CONTENT STYLES */
.content {
  width: 100%;
  height: 100%;

  margin-top: 180px;

  display: none;
}

.content h1 {
  font-family: Sanchez;

  color: #F47610;

  position: relative;
  margin-top: 100px;
}

/* FRONTPAGE STYLES */
.frontpage {
  padding: 80px;

  text-align: center;
  position: fixed;
  width: 100%;
}

.frontpage > h1 {
  font-size: 80px;

  color: #F47610;

  margin-top: 100px;
}

.frontpage > .bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* CONTACT STYLES */
.contactpage {
  padding: 30px;

  max-width: 560px;
  margin: 0 auto;
}

.contactpage > h1 {
  font-size: 50px;

  color: #F47610;
  margin-top: 0;
}

.contactpage > h2 {
  position: relative;
  font-size: 30px;

  color: white;
  margin: 0;

  font-family: Sanchez;
}

.contact_box {
  position: relative;
  font-size: 24px;
}

.contact_left {
  width: 160px;
  margin-left: 30px;
  margin-right: -30px;
  display: inline-table;
  color: white;
}

.contact_right {
  display: inline-table;
  color: #F47610;
  margin-left: 30px;
}

.contact_facebook_image {
  width: 160px;
  margin-top: 14;
  vertical-align: bottom;
}

.paragraph {
  position: relative;

  color: black;
  font-size: 18px;
}

/* ABOUT STYLES */
.aboutpage {
  padding: 30px;
  width: 100%;
  background-color: white;
  min-width: 700px;
  position: relative;
}

.aboutpage > .paragraph {
  position: relative;
  width: 44%;
  margin-left: 56%;
  margin-top: 80px;
}

.img_stack {
  position: absolute;
  margin: -30px;
  width: 100%;
  overflow: hidden;
}

.stack_image {
  height: 400px;
  position: relative;
}

.construction {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Sanchez;
  position: relative;
  margin-top: 150px;
  padding: 30px;
  color: #F47610;
}

@media screen and (max-width: 800px) {
  .stack_image {
    height: 300px;
  }

  .aboutpage > .paragraph {
    width: 45%;
    margin-left: 55%;
    margin-top: 60px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    margin-top: 100px;
  }

  .frontpage > h1 {
    font-size: 60px;
  }
}
